@model IEnumerable<Camp_rating.Models.ApplicationUser>

@{
    ViewData["Title"] = "Потребители";
}

<h1>Потребители</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Потребителско име</th>
            <th>Имейл</th>
            <th>Име</th>
            <th>Фамилия</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-sm btn-primary">Редактирай</a>
                    <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-sm btn-danger">Изтрий</a>
                </td>
            </tr>
        }
    </tbody>
</table>